{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'css/delete_client.css' %}">

{% endblock stylesheet %}


{% block body %}


        <div class="row title align-items-center">
            <div class="col-sm-6">
                <h2 class="align-self-center">Effacer <b>Contact</b></h2>
            </div>
        </div>
        <div class="row justify-content-center box align-content-center">
            <div class="col-sm-5 col-md-3">
                <form method="POST" class="justify-content-center">
                    {% csrf_token %}
                    <h2 class="text-center">Confirmer?</h2>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success">Oui</button>
                        <a class="btn btn-outline-danger" href="{% url 'home' %}">Annuler</a>
                    </div>
                </form>
            </div>
        </div>


{% endblock%}